name: "Exemplo Artifact"
run-name: "Pipeline (Exemplo Artifact) executado por ${{github.actor}}"

on:
  workflow_dispatch:

env:
  nome_artefato: "test-artifact"

jobs:
  upload_arquivos:
    runs-on: ubuntu-latest
    steps:
      - name: "Gerando arquivos artefatos"
        run: |
          mkdir artefatos
          echo "arquivo de teste 01" > ./artefatos/arq1.txt
          echo "arquivo de teste 02" > ./artefatos/arq2.txt
          echo "arquivo de teste 03" > ./artefatos/arq3.txt

      - name: "Listando arquivos artefatos"
        run: ls -R .

      - name: "upload dos arquivos no Artifact"
        id: upload_arquivos
        uses: actions/upload-artifact@v4
        with:
          name: "${{ env.nome_artefato }}"
          path: ./artefatos

      - name: "Obtendo url com os artefatos"
        run: echo "${{ steps.upload_arquivos.outputs.artifact-url }}"

  download_arquivos:
    runs-on: ubuntu-latest
    needs: ["upload_arquivos"]
    steps:
      - name: "download dos arquivos no Artifact"
        uses: actions/download-artifact@v4
        with:
          name: "${{ env.nome_artefato }}"

      - name: "listando arquivos"
        run: ls -R .
