name: CD Fake

on:
  workflow_call:
    secrets:
      ambiente:
        required: true

jobs:
  CD:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy no ambiente
        run: echo "Executando o deploy no ambiente ${{ secrets.ambiente }}"
